.profile-section{
    padding: 20px;
}
.name h3{
    font-weight: bold;
    font-size: 25px;
}
.profile-img img{
    width: 15%;
    border-radius: 50%;
    margin-right: 5px;
   
}
.profile-img{
    display: flex;
          margin-bottom: 20px;
   
}
.weight{
   color: #999;
   font-weight: 500;
}
.profile-desc{
    display: flex;
     justify-content: space-between;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 40px;
}
.break-title{
    font-size: 24px;
    font-weight: 700;
}
.break-time{
    display: flex;
    justify-content: space-between;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 40px;
}
.day-btn{
    background-color: white;
    border-radius: 50%;
     border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
   

}

.day-btn:hover{
    background-color: blue;
    color: white;
}

.working-details{
    display: flex;
    justify-content: space-between;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 40px;
}

.complete-btn{
    background-color: black;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    width: 100%;
    transition: 1s;
  
  

}
.complete-btn:hover{
    background-color: white;
    color: black;
}
.btn-done{
    text-align: center;

}