
.home-info{
  display: flex;
  padding-left: 22px;
  margin-bottom: 40px;
}
 

@keyframes iconStyle {
  0%{
        color: blue;
  }
  25%{
    
 color: rgb(25, 35, 57);
  }
  50%{
    color: white;
       background-image: url(../image/images.jfif);
  }
  75%{
    color: blue;
    background-image: url(../image/images.png);
  }
  100%{
color: #1944ed;
background-image: url(../image/work.jfif);
  }
}
.home-info p{
  width: 100px;
  height: 100px;
  background-image: url(../image/work.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   transition: 3.56s;
  animation: iconStyle 2s ease-in   infinite forwards ;
}
.container{
  background-color: lavender;
  padding: 40px;
 
}
.home-info h1{
  font-size: 50px;
  font-weight: bold;
 
}
.career-title{
  font-size: 25px;
  font-weight: 600;
  padding-left: 22px;
}
.home-container{
  display: grid;
  grid-template-columns: 2.8fr 1.2fr;

} 

.cart-container{
display: grid;
grid-template-columns: repeat(3, 1fr);


} 

@media  screen and (max-width:668px){

 .home-info{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 20px;

 }
 .home-info p{
  display: none;
 }
 .home-info img{

  display: none;
 }
 @keyframes title {
  0%{
   color: white;
  }
  50%{
   
 color: blue;
  }
  100%{
    color: #070c66;
  
  }
  
 }
 .home-info h1{
  text-align: center;
  border: 1px solid rebeccapurple;
  background: url(../image/work.jfif),linear-gradient(#070c66, #241299db, #1944ed);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-bottom: 20px;
  animation: title 2s ease-in   infinite forwards ;
  transition: 1s;

 }
 .career-title{
  text-align: center;
 }
  .home-container{
    display: flex;
    flex-direction: column;
    
  
  }
  
  .cart-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    
  }
 
}
