.card img{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.card{
    box-shadow: 3px 3px 6px 0px #4444448c;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.my-btn{
    background-color: black;
    color: white;
    padding: 4px 10px;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    width: 100%;

}
.my-btn:hover{
    background-color: white;
    color: black;
}

.card-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.time{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 17px;
}